name: Bump Patch Version

on:
  push:
    branches:
      - main

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            fetch-depth: 0  # důležité pro získání všech tagů
            persist-credentials: false
            
      - name: Test secret load
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          if [ -z "$GH_PAT" ]; then
            echo "❌ Secret GH_PAT není načten!"
            exit 1
          else
            echo "✅ GH_PAT načten, délka: ${#GH_PAT} znaků"
          fi
          
      - name: Debug GH_PAT
        run: |
            echo "PAT is set: ${#GH_PAT} characters"
        env:
            GH_PAT: ${{ secrets.GH_PAT }}
        
      - name: Set up Git user
        run: |
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
